.ani-text {
    text-align: center;
}

.ani-text:hover {
    animation-name: 왔다갔다;
    animation-duration: 1s;
}

@keyframes 왔다갔다 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-100px);
    }
    75%{
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}
