body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 91vh;
    overflow: hidden;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(800px, 100%);
    margin: auto;
}
.menu{
    position: relative;
    width: 300px;
    height: 100px;
    background: greenyellow;
    margin: 25px auto;
}
